*.iml
.gradle
/local.properties
.DS_Store
/build
/.idea/
/app/google-services.json
/app/build/
/resources/src/main/res/values/secrets.xml
/app/fastaccess-key
/changelog_generator
build-dependecies/secret_keys.properties