language: android

android:
   components:
   - tools
   - platform-tools
   - tools # Upgrade again after upgrading platform-tools.

jdk: oraclejdk8

sudo: required

before_install:
  # Skip build if the commit message contains [skip travis] or [travis skip]
   - >
       echo "$TRAVIS_COMMIT_MESSAGE"
       | grep -E  '\[(skip travis|travis skip)\]'
       && echo "[skip travis] has been found, exiting."
       && exit 0 || true

before_script:
  - echo $ANDROID_HOME
  - mkdir -p $ANDROID_HOME/licenses
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > $ANDROID_HOME/licenses/android-sdk-license
  - echo -e "\n504667f4c0de7af1a06de9f4b1727b84351f2910" > $ANDROID_HOME/licenses/android-sdk-preview-license

script:
  - ./gradlew clean assembleDebug --no-daemon --stacktrace

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  webhooks:
    urls:
      - https://discordapp.com/api/webhooks/341508199612153857/_86ddhBkrka3SaPzYJtL2LBH-sKeVI_tSAp0L2h4cPoy2m4CLa4lpqqJu4rjxHs86V0i
    on_success: always
    on_failure: always
    on_start: never
    email: false
