html {
    overflow: hidden !important;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

body::before {
    display: table;
    content: "";
}

body::after {
    display: table;
    clear: both;
    content: "";
}

body>:first-child {
    margin-top: 2px !important
}

body>:last-child {
    margin-bottom: 0!important
}

body a:not([href]) {
    color: inherit;
    text-decoration: none
}

body .absent {
    color: #c00
}

body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -10px;
    line-height: 1
}

body .anchor:focus {
    outline: none
}

p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 4px
}

body hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0
}

body blockquote {
    padding: 0 1em;
    color: #777;
    border-left: .25em solid #ddd
}

body blockquote>:first-child {
    margin-top: 0
}

body blockquote>:last-child {
    margin-bottom: 0
}

body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}

body .loweralpha {
    list-style-type: lower-alpha
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 1.25
}

body h1 .octicon-link, body h2 .octicon-link, body h3 .octicon-link, body h4 .octicon-link, body h5 .octicon-link, body h6 .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden
}

body h1:hover .anchor, body h2:hover .anchor, body h3:hover .anchor, body h4:hover .anchor, body h5:hover .anchor, body h6:hover .anchor {
    text-decoration: none
}

body h1:hover .anchor .octicon-link, body h2:hover .anchor .octicon-link, body h3:hover .anchor .octicon-link, body h4:hover .anchor .octicon-link, body h5:hover .anchor .octicon-link, body h6:hover .anchor .octicon-link {
    visibility: visible
}

body h1 tt, body h1 code, body h2 tt, body h2 code, body h3 tt, body h3 code, body h4 tt, body h4 code, body h5 tt, body h5 code, body h6 tt, body h6 code {
    font-size: inherit
}

body h1 {
    padding-bottom: .2em;
    font-size: 2em;
    border-bottom: 1px solid #eee
}

body h2 {
    padding-bottom: .2em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee
}

body h3 {
    font-size: 1.25em
}

body h4 {
    font-size: 1em
}

body h5 {
    font-size: .875em
}

body h6 {
    font-size: .85em;
    color: #777
}

body ul, body ol {
    padding-left: 1em
}

body ul.no-list, body ol.no-list {
    padding: 0;
    list-style-type: none
}

body ul ul, body ul ol, body ol ol, body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

body li>p {
    margin-top: 8px
}

body li+li {
    margin-top: .20em
}

body dl {
    padding: 0
}

body dl dt {
    padding: 0;
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}

dl dd {
    padding: 0 8px;
    margin-bottom: 4px
}

body table {
    display: block;
    width: 100%;
    overflow: auto
}

body table th {
    font-weight: 700
}

body table th, body table td {
    padding: 6px 10px;
    border: 1px solid #ddd
}

body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

body img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
}

body img[align=right] {
    padding-left: 10px
}

body img[align=left] {
    padding-right: 10px
}

body .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
}

body span.frame {
    display: block;
    overflow: hidden
}

body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 8px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
}

body span.frame span img {
    display: block;
    float: left
}

body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
}

body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

body span.align-center>span {
    display: block;
    margin: 8px auto 0;
    overflow: hidden;
    text-align: center
}

body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

body span.align-right>span {
    display: block;
    margin: 8px 0 0;
    overflow: hidden;
    text-align: right
}

body span.align-right span img {
    margin: 0;
    text-align: right
}

body span.float-left {
    display: block;
    float: left;
    margin-right: 8px;
    overflow: hidden
}

body span.float-left span {
    margin: 8px 0 0
}

body span.float-right {
    display: block;
    float: right;
    margin-left: 8px;
    overflow: hidden
}

body span.float-right>span {
    display: block;
    margin: 8px auto 0;
    overflow: hidden;
    text-align: right
}

body code, body tt {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px
}

body code::before, body code::after, body tt::before, body tt::after {
    letter-spacing: -.2em;
    content: "\00a0"
}

body code br, body tt br {
    display: none
}

body del code {
    text-decoration: inherit
}

body pre {
    word-wrap: normal
}

body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.highlight {
    margin-bottom: 10px
}

body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

body .highlight pre, body pre {
    padding: 8px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px
}

body pre code, body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

body pre code::before, body pre code::after, body pre tt::before, body pre tt::after {
    content: normal
}

body .csv-data td, body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
}

body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0
}

body .csv-data tr {
    border-top: 0
}

body .csv-data th {
    font-weight: 700;
    background: #f8f8f8;
    border-top: 0
}

body {
    font-size: 15px
}

body blockquote {
    margin-right: 0;
    margin-left: 0
}

body code {
    white-space: normal
}

body.email-format {
    line-height: 1.5em!important
}

body.email-format div {
    white-space: pre-wrap
}

body .email-hidden-reply {
    display: none;
    white-space: pre-wrap
}

body .email-hidden-reply.expanded {
    display: block
}

.email-quoted-reply, .email-signature-reply {
    padding: 0 15px;
    margin-bottom: 15px;
    color: #767676;
    border-left: 4px solid #ddd
}

.pl-c {
    color: #969896
}

.pl-c1, .pl-s .pl-v {
    color: #0086b3
}

.pl-e, .pl-en {
    color: #795da3
}

.pl-smi, .pl-s .pl-s1 {
    color: #333
}

.pl-ent {
    color: #63a35c
}

.pl-k {
    color: #a71d5d
}

.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {
    color: #183691
}

.pl-v {
    color: #ed6a43
}

.pl-id {
    color: #b52a1d
}

.pl-ii {
    color: #f8f8f8;
    background-color: #b52a1d
}

.pl-sr .pl-cce {
    font-weight: 700;
    color: #63a35c
}

.pl-ml {
    color: #693a17
}

.pl-mh, .pl-mh .pl-en, .pl-ms {
    font-weight: 700;
    color: #1d3e81
}

.pl-mq {
    color: teal
}

.pl-mi {
    font-style: italic;
    color: #333
}

.pl-mb {
    font-weight: 700;
    color: #333
}

.pl-md {
    color: #bd2c00;
    background-color: #ffecec
}

.pl-mi1 {
    color: #55a532;
    background-color: #eaffea
}

.pl-mdr {
    font-weight: 700;
    color: #795da3
}

.pl-mo {
    color: #1d3e81
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}

.badmono {
    font-family: sans-serif;
    font-weight: 700
}

pre {
    word-wrap: break-all;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 4px 0px 4px 0px !important;
}

pre code {
    word-wrap: break-all !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
}

img {
    max-width: 100% !important;
}

table {
    word-wrap: break-all !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
    margin: 4px 0px 4px 0px !important;
}
