<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fastaccess"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.fastaccess.ui.modules.main.MainView"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.modules.login.LoginView"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="fast-for-github.firebaseapp.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.modules.user.UserPagerView"
            android:label="@string/user"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.repos.RepoPagerView"
            android:label="@string/repo"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.repos.issues.issue.details.IssuePagerView"
            android:label="@string/issue"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.modules.repos.issues.create.CreateIssueView"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/create_issue"
            android:theme="@style/WhenLargeTheme"/>

        <activity
            android:name=".ui.modules.repos.pull_requests.pull_request.details.PullRequestPagerView"
            android:label="@string/pull_request"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.repos.code.commit.details.CommitPagerView"
            android:label="@string/commit"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.code.CodeViewerView"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/viewer"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.editor.EditorView"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/markdown"
            android:theme="@style/WhenLargeTheme"/>

        <activity
            android:name=".ui.modules.gists.create.CreateGistView"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/create_gist"
            android:theme="@style/WhenLargeTheme"/>

        <activity
            android:name=".ui.modules.gists.gist.GistView"
            android:label="@string/gist"
            android:excludeFromRecents="true"/>

        <activity android:name=".ui.modules.search.SearchView"/>

        <activity
            android:name=".ui.modules.notification.NotificationActivityView"
            android:label="@string/notifictions"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.modules.parser.LinksParserActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="github.com"
                    android:scheme="http"/>
                <data
                    android:host="github.com"
                    android:scheme="https"/>

                <data
                    android:host="gist.github.com"
                    android:scheme="http"/>
                <data
                    android:host="gist.github.com"
                    android:scheme="https"/>

                <data android:pathPattern=".*"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <service
            android:name=".provider.tasks.NotificationJobTask"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

    </application>

</manifest>