<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fastaccess"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name=".ui.modules.main.donation.CheckPurchaseActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@style/ThemeTranslucent"/>
        <activity
            android:name=".ui.modules.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.login.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="login"
                    android:scheme="fasthub"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.login.chooser.LoginChooserActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name=".ui.modules.user.UserPagerActivity"
            android:label="@string/user"
            android:parentActivityName=".ui.modules.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.repos.RepoPagerActivity"
            android:label="@string/repo"
            android:parentActivityName=".ui.modules.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.repos.issues.issue.details.IssuePagerActivity"
            android:label="@string/issue"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.repos.issues.create.CreateIssueActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/create_issue"/>
        <activity
            android:name=".ui.modules.repos.pull_requests.pull_request.details.PullRequestPagerActivity"
            android:label="@string/pull_request"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.repos.code.commit.details.CommitPagerActivity"
            android:label="@string/commit"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.code.CodeViewerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/viewer"/>
        <activity
            android:name=".ui.modules.editor.EditorActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/markdown"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.modules.gists.create.CreateGistActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/create_gist"/>
        <activity
            android:name=".ui.modules.gists.gist.GistActivity"
            android:label="@string/gist"
            android:parentActivityName=".ui.modules.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.search.SearchActivity"
            android:parentActivityName=".ui.modules.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.notification.NotificationActivity"
            android:label="@string/notifications"
            android:parentActivityName=".ui.modules.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.about.FastHubAboutActivity"
            android:theme="@style/AppTheme.AboutActivity.Light"/>
        <activity
            android:name=".ui.modules.pinned.PinnedReposActivity"
            android:label="@string/pinned"/>
        <activity
            android:name=".ui.modules.gists.GistsListActivity"
            android:label="@string/public_gists"/>
        <activity android:name=".ui.modules.profile.org.teams.details.TeamPagerActivity"/>
        <activity
            android:name=".ui.modules.repos.code.files.activity.RepoFilesActivity"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity android:name=".ui.modules.filter.issues.FilterIssuesActivity"/>
        <activity android:name=".ui.modules.main.donation.DonationActivity"/>
        <activity android:name=".ui.modules.repos.code.commit.viewer.FullCommitFileActivity"/>
        <activity
            android:name=".ui.modules.search.repos.files.SearchFileActivity"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.settings.SettingsActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity
            android:name=".ui.modules.settings.category.SettingsCategoryActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity
            android:name=".ui.modules.repos.code.releases.ReleasesListActivity"
            android:label="@string/releases"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.trending.TrendingActivity"
            android:label="@string/trending"
            android:parentActivityName=".ui.modules.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.main.MainActivity"/>
        </activity>
        <activity android:name=".ui.modules.theme.ThemeActivity"/>
        <activity
            android:name=".ui.modules.theme.code.ThemeCodeActivity"
            android:label="@string/theme_title"/>
        <activity
            android:name=".ui.modules.main.donation.DonateActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@style/ThemeTranslucent"/>
        <activity
            android:name=".ui.modules.repos.wiki.WikiActivity"
            android:label="@string/gollum"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.main.premium.PremiumActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.modules.repos.git.EditRepoFileActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/markdown"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.modules.repos.code.commit.history.FileCommitHistoryActivity"
            android:label="@string/commits"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.repos.projects.details.ProjectPagerActivity"
            android:label="@string/project"
            android:parentActivityName=".ui.modules.repos.RepoPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.repos.RepoPagerActivity"/>
        </activity>
        <activity
            android:name=".ui.modules.profile.org.project.OrgProjectActivity"
            android:label="@string/projects"
            android:parentActivityName=".ui.modules.user.UserPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modules.user.UserPagerActivity"/>
        </activity>

        <activity android:name=".ui.modules.main.playstore.PlayStoreWarningActivity"/>

        <activity
            android:name=".ui.modules.repos.pull_requests.pull_request.details.files.fullscreen.FullScreenFileChangeActivity"
            android:configChanges="keyboard|orientation|screenSize"/>

        <activity android:name=".ui.modules.search.SearchUserActivity"/>

        <activity
            android:name=".ui.modules.parser.LinksParserActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="github.com"
                    android:scheme="http"/>
                <data
                    android:host="github.com"
                    android:scheme="https"/>
                <data
                    android:host="gist.github.com"
                    android:scheme="http"/>
                <data
                    android:host="gist.github.com"
                    android:scheme="https"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:scheme="https"/>
                <data
                    android:host="gist.githubusercontent.com"
                    android:scheme="https"/>
                <data android:pathPattern=".*"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <data android:mimeType="text/plain"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".provider.tasks.notification.NotificationSchedulerJobTask"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:name=".provider.tasks.notification.ReadNotificationService"/>
        <service android:name=".provider.tasks.git.GithubActionService"/>
        <service android:name=".provider.tasks.git.ReactionService"/>
        <service android:name=".provider.tasks.slack.SlackInvitationService"/>
        <service android:name=".provider.tasks.version.CheckVersionService"/>
        <service
            android:name=".provider.fcm.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6ed82b6e0756853d7d782a3f547f84f9ecba217e"/>
    </application>

</manifest>